.idea/
*.ipynb_checkpoints/
*__pycache__/
*.neptune/
*.h5
*.DS_Store
*.vscode/
*.tar.gz
*checkpoints/
*.pth
*.npz
*.joblib
*.pkl
*.png
*.ckpt
*.bin
*.pb
*.data*
*.index
*bert-tiny-finetuned-cola*
*MNIST
!integrations-and-supported-tools/kedro/scripts/kedro-neptune-*/data
*aclImdb
*models
*.html
*.log
mlruns/
