name: Scheduled scripts tests (macos)
on:
  schedule:
    - cron: "0 0 * * 1" # Run every Monday at 12:00 AM UTC
  workflow_dispatch:
jobs:
  test-scripts-macos:
    uses: ./.github/workflows/test-scripts.yml
    with:
      os: macos-latest
    secrets: inherit
