name: Scheduled notebook tests (windows)
on:
  schedule:
    - cron: "0 0 * * 4" # Run every Thursday at 12:00 AM UTC
  workflow_dispatch:
jobs:
  test-notebooks-windows:
    uses: ./.github/workflows/test-notebooks.yml
    with:
      os: windows-latest
    secrets: inherit
