name: Scripts test matrix
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
jobs:
  test-scripts:
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        scripts: # Add in alphabetical order
          - how-to-guides/data-versioning/scripts
          - how-to-guides/hello-neptune/scripts
          - how-to-guides/how-it-works/scripts
          - how-to-guides/monitor-ml-runs/scripts
          - how-to-guides/organize-ml-experimentation/scripts
          - how-to-guides/present-cross-validation-results/scripts
          - how-to-guides/re-run-failed-training/scripts
          - integrations-and-supported-tools/altair/scripts
          - integrations-and-supported-tools/bokeh/scripts
          - integrations-and-supported-tools/catalyst/scripts
          - integrations-and-supported-tools/fastai/scripts
          - integrations-and-supported-tools/html/scripts
          - integrations-and-supported-tools/kedro/scripts
          - integrations-and-supported-tools/lightgbm/scripts
          - integrations-and-supported-tools/matplotlib/scripts
          - integrations-and-supported-tools/optuna/scripts
          - integrations-and-supported-tools/plotly/scripts
          - integrations-and-supported-tools/prophet/scripts
          - integrations-and-supported-tools/pytorch/scripts
          - integrations-and-supported-tools/pytorch-lightning/scripts
          - integrations-and-supported-tools/sacred/scripts
          - integrations-and-supported-tools/sklearn/scripts
          - integrations-and-supported-tools/skorch/scripts
          - integrations-and-supported-tools/tensorflow/scripts
          - integrations-and-supported-tools/tensorflow-keras/scripts
          - integrations-and-supported-tools/transformers/scripts
          - integrations-and-supported-tools/xgboost/scripts
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install OpenMP on MacOS for XGBoost integration
        if: runner.os == 'macOS'
        run: brew install libomp
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test examples
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 20
          max_attempts: 2
          retry_on: timeout
          command: |
            cd ${{ matrix.scripts }}
            bash run_examples.sh
