name: Scripts test matrix
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
jobs:
  test-scripts:
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        scripts: # Add in alphabetical order
          - how-to-guides/data-versioning/scripts
          # - how-to-guides/ddp-training/scripts
          - how-to-guides/hello-neptune/scripts
          - how-to-guides/how-it-works/scripts
          - how-to-guides/monitor-ml-runs/scripts
          - how-to-guides/organize-ml-experimentation/scripts
          - how-to-guides/present-cross-validation-results/scripts
          - how-to-guides/re-run-failed-training/scripts
          - how-to-guides/neptune-hpo/scripts
          - how-to-guides/sequential-pipelines/scripts
          - how-to-guides/reproduce-run/scripts
          - integrations-and-supported-tools/altair/scripts
          - integrations-and-supported-tools/bokeh/scripts
          - integrations-and-supported-tools/catalyst/scripts
          - integrations-and-supported-tools/dalex/scripts
          - integrations-and-supported-tools/detectron2/scripts
          - integrations-and-supported-tools/evidently/scripts
          - integrations-and-supported-tools/fastai/scripts
          - integrations-and-supported-tools/html/scripts
          - integrations-and-supported-tools/kedro/scripts
          - integrations-and-supported-tools/keras/scripts
          - integrations-and-supported-tools/lightgbm/scripts
          - integrations-and-supported-tools/matplotlib/scripts
          - integrations-and-supported-tools/optuna/scripts
          - integrations-and-supported-tools/plotly/scripts
          - integrations-and-supported-tools/prophet/scripts
          - integrations-and-supported-tools/pytorch/scripts
          - integrations-and-supported-tools/pytorch-ignite/scripts
          - integrations-and-supported-tools/pytorch-lightning/scripts
          - integrations-and-supported-tools/sacred/scripts
          - integrations-and-supported-tools/sklearn/scripts
          - integrations-and-supported-tools/skorch/scripts
          - integrations-and-supported-tools/tensorflow/scripts
          - integrations-and-supported-tools/transformers/scripts
          - integrations-and-supported-tools/xgboost/scripts
          - use-cases/time-series-forecasting/walmart-sales/scripts
          - use-cases/nlp/classification/fasttext/code
          - use-cases/nlp/classification/keras/code
          - use-cases/nlp/summarization/hf_transformers/scripts
        os: ["${{ inputs.os }}"]
        exclude:
          - scripts: integrations-and-supported-tools/sacred/scripts
            python-version: "3.7"
          - scripts: integrations-and-supported-tools/detectron2/scripts
            os: windows-latest
          - scripts: how-to-guides/sequential-pipelines/scripts
            on: windows-latest
          - scripts: how-to-guides/sequential-pipelines/scripts
            on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install OpenMP on MacOS for XGBoost integration
        if: runner.os == 'macOS'
        run: brew install libomp
      - name: Test examples
        uses: nick-fields/retry@v2
        env:
          NEPTUNE_API_TOKEN: ${{ secrets.NEPTUNE_API_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          timeout_minutes: 60
          max_attempts: 2
          retry_on: timeout
          command: |
            cd ${{ matrix.scripts }}
            bash run_examples.sh
